extends layout

block content
  body
    .container-fluid
      h1 Pitkin
      h2 Research, Write, and Read
      .articles(data-bind="foreach: articles")
        .article(data-bind="if: $data.text, style: { display: ($data.offensiveToSomeone || !$data.text) ? 'none' : '' }, css: { dontDisplay: ($data.offensiveToSomeone || !$data.text) }, attr: { id : $data.id } " class="panel panel-default")
          .panel-heading
            if (user)
              span(class="glyphicon glyphicon-flag" data-bind="click: $root.flagAsOffensive")
            h3(class="title" data-bind="text: $data.title")
            h4(class="topic" data-bind="text: $data.topic")
          .panel-body
            .article-text(data-bind="text: $data.text")
          .panel-footer
            .row(class="tags" data-bind="foreach: $data.tags")
              .col-md-1(class="well well-sm tag" data-bind="text: $data")
            if (user)
              .input-group
                input(type="text" class="form-control tags-to-add" placeholder="Add Tag..." data-bind="textInput: $root.addedTags()[$data._id]")
                span(class="input-group-btn")
                  .button(class="btn btn-default" type="button" data-bind="click: $root.addTags")
                    | Add
  script(type="text/javascript" src="../ko-viewModels/HomePageViewModel.js")
  script(src='../scripts/home-interaction.js')
