extends layout

block content
  body
    .container-fluid
      h1 Pitkin
      h2 Research, Write, and Read
      if (!user)
        .login-register
          .login
            a(href="/login") login
          .register
            a(href="/register") register
      if(user)
        p welcome to Pitkin, #{user. username}!
        .activities
          .search
            a(href="/search") search
          .write
            a(href="/write") write
          .logout
            a(href="/logout") logout
      .button()
      .articles(data-bind="foreach: articles")
        .article(data-bind="if: $data.text, style: { display: ($data.offensiveToSomeone || !$data.text) ? 'none' : '' }, attr: { id : $data.id } " class="panel panel-default")
          .panel-heading
            if (user)
              span(class="glyphicon glyphicon-flag" data-bind="click: $root.flagAsOffensive")
            h3(class="title" data-bind="text: $data.title")
            h4(class="topic" data-bind="text: $data.topic")
          .panel-body
            .article-text(data-bind="text: $data.text")
          .panel-footer
            span(class="tags" data-bind="foreach: $data.tags")
              span(class="well well-sm" data-bind="text: $data")
            if (user)
              span(class="input-group")
                input(type="text" class="form-control" placeholder="Add Tag...")                
  script(type="text/javascript" src="../ko-viewModels/HomePageViewModel.js")
