extends layout

block content
  body
    if(!user)
      a(href="/login") login
      br
      a(href="/register") register
    if(user)
      p You are currently logged in #{user.username}!
      a(href="/logout") logout