extends layout

block content
  body 
    .container-fluid
      h1 Login
      p.lead Please login!
      br
      form(role='form', action='/login', method='post', style='max-width: 300px;')
        .form-group
          input.form-control(autofocus type='text', name='username', placeholder='enter username')
        .form-group
          input.form-control(type='password', name='password', placeholder='password')
        button.btn.btn-default(type='submit') Submit
        a(href='/')
          button.btn.btn-primary(type='button') Cancel