doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, intial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')
  body
    block content

  script(src='https://code.jquery.com/jquery.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')