doctype html
html(lang="en")
  head
    title= 'Pitkin Search'
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js")
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js")
  body
    h1 Pitkin Answer Search, powered by 
    a(href='https://duckduckgo.com/api') DuckDuckGo Instant Answers API
    img(src='https://duckduckgo.com/assets/logo_homepage.normal.v107.svg')
    input.searchbar(type='text' placeholder='search for an answer' data-bind='value: query, executeOnEnter: searchDuckDuckGo')
    button.search-button(data-bind='click: searchDuckDuckGo')
      | Search
    .search-answer
      .search-heading(data-bind="text: heading")
      .search-abstract(data-bind="text: abstractText")
    .search-results(data-bind="foreach: responses")
      .search-result
        .result-text(data-bind="text: $data.text")
        .result-image
          img(data-bind="attr: {src: $data.image.URL}")
        .result-result(data-bind="texT: $data.result")
    script(type="text/javascript" src="../SearchResponseViewModel.js")